<ion-view>
  <ion-nav-title>
    <div class="icon ion-home" ui-sref="tab.categoria"></div>
    <div class="bar-header-title">Lista Vegana</div>
    <div class="icon ion-search"></div>
    <div class="icon ion-heart fav" ui-sref="tab.favoritos"></div>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <div class="list-title">{{categoriaSelecionada.descricao}}</div>
      <ul>
        <li ng-repeat="produto in produtos" class="item">
          <a href="#/tab/marcas/{{produto.id}}" class="name">{{produto.descricao}}</a>
          <!--<div ng-if="isFavorito(produto.id) == false">-->
          <button class="button icon ion-heart" ng-click="addFavorito(produto)"></button>
          <!--</div>-->
          
          <!--<div ng-if="isFavorito(produto.id)">>
            <button class="button button-light" ng-click="removerFavorito(produto.id)">
              <i class="icon ion-minus-circled"></i>
            </button>
          </div>-->
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
