<ion-view>
  <ion-nav-title class="balanced">
    <!--<button class="icon ion-home" ui-sref="tab.categoria"> </button>-->
    Lista Vegana
    <!--<button class="icon ion-search" ui-sref=""> </button>-->
    <button class="icon ion-heart" ui-sref="tab.favoritos"> </button>
  </ion-nav-title>
  <ion-content>
    <div class="row" style="flex-wrap: wrap;">
      <ion-item class="col col-33" ng-repeat="categoria in categorias" href="#/tab/produtos/{{categoria.id}}" >
        {{categoria.descricao}}</br></br>
        <!--{{categoria.observacao}}-->
      </ion-item>
    </div>
  </ion-content>
</ion-view>
