<ion-view>
  <ion-nav-title>
    <div class="bar-header-title home">Lista Vegana</div>
    <div class="icon ion-search"></div>
    <div class="icon ion-heart fav" ui-sref="tab.favoritos"></div>
  </ion-nav-title>
  <ion-content>
    <div class="row categoria-list">
      <ion-item class="col col-33" ng-repeat="categoria in categorias">
        <a href="#/tab/produtos/{{categoria.id}}">
          <span class="icon"><img src="../icons/{{categoria.descricao | slugify}}.svg" alt=""></span>
          <span class="desc">{{categoria.descricao}}</span>
        </a>
        <!--{{categoria.observacao}}-->
      </ion-item>
    </div>
  </ion-content>
</ion-view>
