<ion-view>
  <ion-nav-title class="assertive">
    Favoritos
  </ion-nav-title>
  <ion-content>
    <button class="button icon ion-ios-refresh" ng-click="atualizar()"></button>
    <ion-item class="card" ng-repeat="favorito in favoritos" >
      <ion-item class="item" href="#/tab/marcas/{{favorito.id}}"> 
        {{favorito.descricao}} 
      </ion-item>
      <button class="button icon ion-minus-circled" ng-click="removerFavorito(favorito.id)"></button>
    </ion-item>
  </ion-content>
</ion-view>
