<ion-view>
  <ion-nav-title>
    <div class="icon ion-home" ui-sref="tab.categoria"></div>
    <div class="bar-header-title">Lista Vegana</div>
    <div class="icon ion-search"></div>
    <div class="icon ion-heart fav" ui-sref="tab.favoritos"></div>
  </ion-nav-title>
  <ion-content>
    {{produtoSelecionado.descricao}}
    <div class="bar-subheader">
      Observação: {{produtoSelecionado.observacao}}
    </div>
    <div class="list list-inset">
      <ion-item class="item" ng-repeat="marca in marcas">
        {{marca.marca.descricao}}
        {{marca.observacao}}
      </ion-item>
    </div>
  </ion-content>
</ion-view>