<ion-view>
  <ion-nav-title>
    <div class="bar-header-title home">Lista Vegana</div>
    <div class="icon ion-search"></div>
    <div class="icon ion-heart fav" ui-sref="tab.favoritos"></div>
  </ion-nav-title>
  <ion-content>
    <div class="row categoria-list">
      <ion-item class="col col-33" ng-repeat="categoria in categorias">
        <a class="item-icon icon-{{categoria.id}}" href="#/tab/produtos/{{categoria.id}}">{{categoria.descricao}}</a>
        <!--{{categoria.observacao}}-->
      </ion-item>
    </div>
  </ion-content>
</ion-view>
