<ion-view>
  <ion-nav-title class="balanced">
    <button class="icon ion-home" ui-sref="tab.categoria"> </button>
    {{produtoSelecionado.descricao}}
    <button class="icon ion-search" ui-sref=""> </button>
    <button class="icon ion-heart" ui-sref="tab.favoritos"> </button>
  </ion-nav-title>
  <div class="bar-subheader">
    {{produtoSelecionado.observacao}}
  </div>

  <ion-content>
    <div class="list list-inset">
      <ion-item class="item" ng-repeat="marca in marcas">
        {{marca.marca.descricao}}
        {{marca.observacao}}
      </ion-item>
    </div>
  </ion-content>
</ion-view>