<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-color-assertive">

  <!-- Categoria Tab -->
  <ion-tab title="Categorias" icon-off="ion-leaf" icon-on="ion-leaf" href="#/tab/categoria">
    <ion-nav-view name="tab-categoria"></ion-nav-view>
  </ion-tab>

  <!-- Produtos Tab -->
  <ion-tab title="Produtos" icon-off="ion-waterdrop" icon-on="ion-waterdrop" href="#/tab/produtos">
    <ion-nav-view name="tab-produtos"></ion-nav-view>
  </ion-tab>

  <!-- Relacao Tab -->
  <ion-tab title="Marcas" icon-off="ion-fireball" icon-on="ion-fireball" href="#/tab/marcas">
    <ion-nav-view name="tab-marcas"></ion-nav-view>
  </ion-tab>


</ion-tabs>
