<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-assertive">

  <!-- Categoria Tab -->
  <ion-tab title="Categorias" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/categoria">
    <ion-nav-view name="tab-categoria"></ion-nav-view>
  </ion-tab>

  <!-- Produtos Tab -->
  <ion-tab title="Produtos" icon-off="ion-bag" icon-on="ion-bag" href="#/tab/produtos">
    <ion-nav-view name="tab-produtos"></ion-nav-view>
  </ion-tab>

  <!-- Relacao Tab -->
  <ion-tab title="Marcas" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/marcas">
    <ion-nav-view name="tab-marcas"></ion-nav-view>
  </ion-tab>
  
 <!-- Favorito Tab -->
  <ion-tab title="Favoritos" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
